<%- include('../partials/header') %>

    <h3>Current Ticketing</h3>
        <section id="current-tickets">
            <% if (tickets.length) { %>
            <% tickets.forEach(function(t) { %>
                <label>Seat Reserved: </label>
        <div>
            <%= t.seat %>
        </div>
        <label>Price Paid</label>
        <div>
            $ <%= t.price %>
        </div>
        <% }); %>
        <% } else { %>
        <h4>No Ticketing Information Yet</h4>
        <% } %>
        </section>

        <section class="ticket-details">
            <a href="/flights/<%= flight._id %>/tickets/new">Add Ticket</a>
        </section>
            </main>


    <%- include('../partials/footer') %>