<%- include('../patials/header') %> 

<section id="show-page">
    <div>Airline:</div>
    <div><%= flight.airline %></div>
    <div>Airport</div>
    <div><%= flight.airport %></div>
    <div>Flight Number</div>
    <div><%= flight.flightNo %></div>
    <div>Departs</div>
    <div><%= flight.departs %></div>
</section>

<br/><br />
<h2>Add Destination</h2>
<form 
id="add-destination-form"
method="POST"
action="/flights/<%= flight._id %>/destination">

<label></label></form>
